@import '../../sass/mixins';

.home {
    height: 100vh;
    background-color: #3a3a3a;
    padding-top: 6em;

    .wrapper {
        @include wrapper;
    }

    &__title {
        font-family: 'Zen Dots', sans-serif;
        text-transform: uppercase;
    }
}