@import './colors';

@mixin wrapper {
	width: 100%;
	height: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;

	@media (min-width: 576px) {
		max-width: 540px;
	}
	@media (min-width: 768px) {
		max-width: 720px;
	}
	@media (min-width: 992px) {
		max-width: 960px;
	}
	@media (min-width: 1200px) {
		max-width: 1140px;
	}
	@media (min-width: 1400px) {
		max-width: 1320px;
	}
}

@mixin section {
	padding: 4em 0;
	overflow: clip;
	background-color: $bg-color;
	color: whitesmoke;
}

@mixin sectionTitle {
	font-size: 3.6rem;
	color: whitesmoke;
}

@mixin interfaceBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	padding: 0.5em;
	color: white;
	background-color: transparent;
	border: 1px solid whitesmoke;
	font-size: 1.6rem;
	transition: background-color 0.2s, color 0.2s;

	&:hover {
		background-color: whitesmoke;
		color: black;
	}
}
