@import '../../sass/colors';
@import '../../sass/animations';

.menu {
	position: fixed;
	padding: 1em;
	height: 100vh;
	min-height: 550px;
	width: 100%;
	max-width: 600px;
	top: 0;
	left: 50%;
	translate: -50% 0;
	font-size: 1.2rem;
	color: whitesmoke;
	background-color: $bg-color;
	box-shadow: 0px 0px 50px rgb(0, 0, 0);
	border: 1px solid rgba(177, 177, 177, 0.068);
	overflow: hidden;
	z-index: 100;
	animation: menuAnimation 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

	.mosaicImg {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		opacity: 0.2;
		z-index: -1;
	}

	.frameImg {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		max-height: 82px;
		opacity: 0.3;
	}

	.fansImg {
		position: absolute;
		top: 70px;
		right: -30px;
		width: 250px;
		rotate: 70deg;
		opacity: 0.12;
	}

	.headingBar {
		display: flex;
		justify-content: space-between;
		align-items: start;
		color: whitesmoke;

		&__logo {
			width: 60px;
		}

		&__title {
			font-family: 'Zen Dots', sans-serif;
			text-transform: uppercase;
		}

		&__closeBtn {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0.2em;
			font-size: 1.7rem;
			border: 1px solid whitesmoke;
			color: inherit;
			background-color: transparent;
		}
	}

	.content {
		position: relative;
		margin-top: 1em;
		height: 85%;
		overflow-y: scroll;
		z-index: -1;

		&::-webkit-scrollbar {
			width: 12px;
			height: 20px;

			&-thumb {
				background-color: $main-color;
				border-radius: 20px;
			}

			&-track {
				border: 1px solid $main-color;
				border-radius: 20px;
			}
		}

		.group {
			margin-bottom: 3em;
			padding-right: 1em;
			&__title {
				font-family: 'Zen Dots', sans-serif;
				font-weight: normal;
				text-transform: uppercase;
			}

			&__list {
				list-style: none;
				margin-left: 2em;
			}
		}
	}
}

.menuBg {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(3px);
	z-index: 50;
	animation: fadeIn 0.3s linear;
}

@media (min-width: 350px) {
	.menu {
		font-size: 1.4rem;
	}
}

@media (min-width: 576px) {
	.menu {
		font-size: 1.6rem;
	}
}

@media (min-width: 768px) {
	.menu {
		width: auto;
		max-width: auto;
		min-width: 470px;
		aspect-ratio: 700 / 951;
	}
}

@media (max-height: 550px) {
	.menu {
		.content {
			height: 75%;
		}
	}
}

@media (max-height: 700px) {
	.menu {
		.content {
			height: 80%;
		}
	}
}
