@import '../../sass/mixins';
@import '../../sass/colors';
    
    .form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
        width: 250px;
		padding: 2em;
        margin-top: 4em;
        background-color: $bg-color-light;
        border-radius: 1em;

        input {
            width: 100%;
            padding: 0.5em;
            font-size: 1.6rem;

            &:nth-child(2) {
                margin-top: 1em;
            }
        }

        &__button {
            padding: 0.5em;
            background-color: transparent;
            margin-top: 2em;
            color: whitesmoke;
            border: 1px solid whitesmoke;
            cursor: pointer;
            transition: color .3s, background-color .3s;

            &:hover {
                color: black;
                background-color: whitesmoke;
            }
        }

        &__resetBtn {
            margin-left: auto;
            margin-top: 0.5em;
            background-color: transparent;
            color: gray;
            font-size: 1.2rem;
            letter-spacing: 1px;
            border-bottom: 1px solid;
            transition: color .3s;
            
            &:hover {
                color: white;
            }
        }
	}