@import '../../sass/colors';
@import '../../sass/animations';
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

.socialsBox {
	display: flex;
	position: relative;
	gap: 1.5rem;
	font-size: 3rem;

	a {
		scale: 1;
		color: whitesmoke;
		transition: scale 0.3s, color 0.3s;

		&:hover {
			scale: 1.2;
		}
	}
}
