@import '../../sass/mixins';
@import '../../sass/colors';

.footer {
	position: relative;
	padding: 1em 0;
	color: whitesmoke;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		width: 90%;
		height: 1px;
		transform: translateX(-50%);
		background-color: $main-color;
	}

	.wrapper {
		@include wrapper;
		display: flex;
		flex-direction: column;
		max-width: 720px !important;
	}

	.major {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	&__logo {
		img {
			height: 60px;
		}
	}

	&__social {
		display: flex;
		flex-direction: column;
		gap: 0.7em;

		.link {
			display: flex;
			gap: 0.3em;

			.icon {
				color: $main-color;
			}
		}
	}

	&__signature {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 0.4em;
		margin-top: 2em;
		opacity: 0.2;

		img {
			width: 70px;
		}

		p {
			font-size: 1rem;
		}
	}
}

@media (min-width: 768px) {
	.footer {
		&__social {
			flex-direction: row;
			gap: 2em;
		}

		&__signature {
			margin-top: 0.5em;
		}
	}
}
