@import './sass/reset';
@import './sass/hamburger';

// font-family: 'Jura', sans-serif;
// font-family: 'Zen Dots', sans-serif;

body {
    font-size: 1.6rem;
    font-family: 'Jura', sans-serif;
    min-width: 280px;
    background-color: gray;
}